* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  /* width: 100%; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(255, 68, 0, 0.61);
}

.header {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.emoji-container {
  min-width: 200px;
  min-height: 150px;
  border: none;
  border-radius: 5px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.61)
  
}

.emoji-container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  outline: none;
  border: none;
  background: transparent;
  filter: grayscale();
  transition: filter .2s ease-in-out;
  cursor: pointer;
}

.emoji-container .btn:hover {
  filter: grayscale(0);
}

.emoji-name {
  /* position: relative;
  top: 110%;
  left: 73%;
  transform: translate(-50%, -50%);
  color: blue; */

  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: blue;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}
